*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient( to bottom, rgb(32, 32, 32), black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL
MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL
MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL
MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL MENU INCIAL */

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.central-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* ocupa o espaço disponível */
    gap: 0px;
  }

.tv{
    width: 45px;
    margin-bottom: 5px;
}

.title{
    text-align: center;
    color: whitesmoke;
    vertical-align: middle;
    margin: 0px 20px 10px 20px;
    font-size: 28px;
    font-weight: 800;
}

.menu{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.item{
    width: 300px;
    height: auto;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(32, 32, 32);
    text-align: center;
    background-color: whitesmoke;
    border-radius: 100px;
    transition: 1s background;
    cursor: pointer;
    max-width: 300px;
    min-width: 100px;
}

.item:hover{
    background-color: rgb(57, 255, 156);
}

#button-apply{
    background-color: rgb(57, 255, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: 700;
    font-size: 16px;
    color: rgb(32, 32, 32);
    padding: 7px 20px;
    border-radius: 100px;
    margin-top: 20px;
    transition: all 0.5s;
}

#button-apply:hover{
    transform: scale(0.95);
}

.img-apply{
    width: 15px;
    margin-right: 5px;
    margin-top: 2px;
}

.sign{
    font-size: 12px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.div-rect-footer{
    width: 85%;
    height: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-footer{
    background-color: whitesmoke;
    border-radius: 30px 30px 0px 0px;
    padding: 20px 35px;    
    width: 100%;
    color: rgb(32, 32, 32);
    font-size: 12px;
    text-align: center;
    margin: 0;
    font-weight: 500;
}

.link-footer{
    color: rgb(13, 173, 93);
    text-decoration: underline;
}


/* MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY
MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY
MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY
MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY MODAL APPLY */

#modal-apply{
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.99);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}

#title-apply{
    color: rgb(32, 32, 32);
}

/* WIFI WIFI WIFI WIFI WIFI WIFI
WIFI WIFI WIFI WIFI WIFI WIFI
WIFI WIFI WIFI WIFI WIFI WIFI
WIFI WIFI WIFI WIFI WIFI WIFI */

.modal {
    width: 90%;
    height: 90vh;
    max-width: 500px;
    min-height: 500px;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.97);
    position: fixed;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 50px 100px;

}

#modal-wifi{
    display: none;
}

.container-wifis{
    width: 100%;
    
}

.container-img-reload{
    width: 100%;
    min-height: 25px;
    display: flex;
    align-items: right;
    justify-content: right;
}

.reload-wifis{
    width: 25px;
}

.sucess-reload-wifis{
    width: 25px;
    display: none;
}

.wifis{
    height: auto;
    width: 100%;
    max-height: 120px;
    min-height: 75px;
    padding: 5px;
    margin-bottom: 10px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    overflow-y: scroll;
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.wifis::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
  }

.opcao-wifi{
    font-size: 12px;
    color: rgb(32, 32, 32);
    background-color: rgb(57, 255, 156);
    border-radius: 100px;
    padding: 5px 15px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.opcao-wifi:hover{
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
}

.error-wifi-options{
    background-color: rgb(241, 112, 97);
    font-size: 12px;
    color: rgb(32, 32, 32);
    cursor: pointer;
}

.error-wifi-options:hover{
    background-color: rgb(241, 112, 97);
    color: rgb(32, 32, 32);
}

.fechar{
    width: 38px;
    position: absolute;
    right: 30px;
    top: 27px;
    cursor: pointer;
    color: rgb(32, 32, 32);
}

.label{
    font-size: 16px;
    font-weight: 700;
    margin: 5px ;
    margin-left: 15px;

}

.label-space{
    margin-top: 20px;
}

.input{
    background-color: rgb(32, 32, 32);
    height: 30px;
    border-radius: 100px;
    color: rgb(57, 255, 156);
    font-weight: 500;
    padding: 20px;
    font-size: 14px;
    outline: none;
    min-width: 200px;
}

.input-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: rgb(32, 32, 32);
    height: 30px;
    border-radius: 100px;
    padding: 20px 20px 20px 0px;
    min-width: 200px;

}

.input-transparent{
    all: unset;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    font-size: 14px;
    color: rgb(57, 255, 156);
    font-weight: 500;
    
}

.icon-input-div{
    width: 22px;
    z-index: 2;
    cursor: pointer;
    margin-top: 4px;
    color: rgb(57, 255, 156);
}

.img-upload{
    width: 17px !important;
}

#invisibility-password{
    display: none;
}

.button{
    background-color: rgb(57, 255, 156);
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    min-height: 40px;
    border-radius: 100px;
    border: solid 2px rgb(32, 32, 32);
    margin-top: 35px;
    align-self: center;
    transition: 0.5s all; 
}

.button:hover{
    background-color: rgb(32, 32, 32);
    color: rgb(57, 255, 156);
}

.text-issues{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
    font-style: italic;
    color: rgb(241, 112, 97);
}

.link-issues{
    text-decoration: underline;
    font-weight: 700;
    color: rgb(241, 112, 97);
}

/* API API API API API API API API API API
API API API API API API API API API API
API API API API API API API API API API
API API API API API API API API API API */

#modal-api{
    display: none;
}

#key{
    height: 80px;
    border-radius: 20px;
    text-wrap: wrap;
    resize: none;         
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#key::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

.textarea-wrapper {
    position: relative;
    width: 100%;
  }
  
  .textarea-wrapper textarea {
    width: 100%;
    padding-right: 45px; /* espaço para os ícones não sobreporem o texto */
    resize: vertical;
  }
  
  .icon-toggle-key {
    position: absolute;
    top: 15px; /* ajuste conforme seu layout */
    right: 20px;
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  .sensitivy-key {
    width: 22px;
    height: 22px;
    color: rgb(57, 255, 156);
  }

  #invisibility-key{
    display: none;
  }

.custom-dropdown {
    position: relative;
    background-color: rgb(32, 32, 32);
    color: 	rgba(255, 255, 255, 0.44);
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .selected {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 15px;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    background: rgb(32, 32, 32);
    border-radius: 0 0 0px 10px;
    display: none;
    z-index: 3;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
    overflow-x: hidden;
  }
  
  .option {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .option:hover {
    background: rgb(57, 255, 156);
    color: rgb(32, 32, 32);
    font-weight: 700;
  }
  
  .option img {
    width: 20px;
    height: 14px;
    object-fit: cover;
    border-radius: 5px;
  }

  #selected-flag {
    width: 20px;
    height: 14px;
    object-fit: cover;
    border-radius: 5px;
  }

/* BRAND BRAND BRAND BRAND BRAND BRAND
BRAND BRAND BRAND BRAND BRAND BRAND
BRAND BRAND BRAND BRAND BRAND BRAND
BRAND BRAND BRAND BRAND BRAND BRAND */

#modal-brand{
    display: none;
}

.custom-upload {
    cursor: pointer;
    height: 30px;
    padding: 20px;
}
  
.custom-upload span {
    flex: 1;
    color: 	rgba(255, 255, 255, 0.44);
    font-size: 14px;
}

/* CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK
CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK
CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK
CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK CLOCK */

#modal-clock{
    display: none;
}

#flag-utc {
    width: 20px;
    height: 14px;
    object-fit: cover;
    border-radius: 5px;
}

.input-padding-hex{
    padding: 20px 20px 20px 5px;
}

.hex-text{
    color: rgba(255, 255, 255, 0.44);
    display: none;
}

/* GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF
GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF
GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF
GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF GIF */

#modal-gif{
    display: none;
}

/* 
CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM 
CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM 
CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM 
CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM CONFIRM  */

#modal-confirm{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    z-index: 1;
    background-color: rgb(32, 32, 32, 0.98);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: whitesmoke;
    display: none;
}

#container-confirm{
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    border: solid 2px whitesmoke;
    padding: 35px 20px;
    border-radius: 45px;
}

#close-confirm{
    height: 35px;
    width: 100%;
}

#close-confirm svg{
    color: whitesmoke;
    top: 20px;
}

.title-item-confirm{
    font-weight: 900;
    margin-bottom: 2px;
    color: rgb(57, 255, 156)
  }

.itens-confirm{
    display: flex;
    justify-content: left;
}

.itens-space{
    margin-bottom: 7px;
}

.label-confirm{
    font-weight: 700;
}

.value-confirm{
    margin-left: 5px;
    margin-left: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    font-style: italic;
    font-weight: 300;
}

.title-sensitivity{
    display: flex;
    align-items: center;
}

.icon-visibility-confirm{
    width: 20px;
    z-index: 2;
    cursor: pointer;
    color: rgb(57, 255, 156);
    margin-left: 15px;
}

#invisibility-wifi-confirm{
    display: none;
}

#invisibility-key-confirm{
    display: none;
}

#confirm-button, #clear-button{
    margin-top: 20px;
    width: 120px;

}

#clear-button:hover{
    background-color: rgb(241, 112, 97);
    color: whitesmoke;
    
}

/* MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL 
MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL 
MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL 
MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL MANUAL  */

#container-button-manual{
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 25px;
}
#button-manual{
    padding: 10px 15px;
    font-weight: 700;
    background-color: whitesmoke;
    border-radius: 100px;
    font-size: 14px;
    color: rgb(32, 32, 32);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 25px;
}
#button-manual:hover{
    background-color: rgb(57, 255, 156);
}
#manual-icon{
    width: 20px;
    color: rgb(32, 32, 32);
}
#modal-manual{
    width: 100%;
    min-width: 200px;
    min-height: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 245, 0.97);
    flex-grow: 1;
    gap: 20px;
    color: rgb(32, 32, 32);
    display: none;
    z-index: 2;
}
#close-icon-manual{
    width: 38px;
    position: absolute;
    right: 30px;
    top: 27px;
    cursor: pointer;
    color: rgb(32, 32, 32);
}
#title-manual{
    font-weight: 700;
    color: rgb(57, 255, 156);
    text-decoration: underline;
    font-size: 18px;
    background-color: rgb(32, 32, 32);
    padding: 15px 20px;
    border-radius: 20px;
    max-width: 500px;
    text-align: center;
    align-self: center;
}
#body-text-manual{
    max-width: 350px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: rgb(241, 112, 97);
    align-self: center;
    margin: 0px 20px;
}
.types{
    width: 100%;
    
    max-width: 500px;
    padding: 5px 50px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    align-self: center;
}
.type{
    font-weight: 700;
    font-size: 16px;
    color: rgb(57, 255, 156);
    background-color: rgb(32, 32, 32);
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: fit-content;
}
.notes{
    background-color: rgb(32, 32, 32);
    color: rgb(57, 255, 156);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 20px 30px;
    margin: 20px;
    max-width: 450px;
    font-style: italic;
    border-radius: 30px;
    margin-top: 10px;
}

/* Animações Animações Animações Animações Animações Animações
Animações Animações Animações Animações Animações Animações
Animações Animações Animações Animações Animações Animações
Animações Animações Animações Animações Animações Animações */

.sucess{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

.error{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

#modal-error{
    width: 85%;
    max-width: 450px;
    height: auto;
    min-height: 120px;
    padding: 20px 30px;
    background-color: rgb(241, 112, 97, 0.98);
    border-radius: 25px;
    position: absolute;
    top: 40px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.text-error{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}

.fade-in{
    animation: fade-in 0.5s forwards;
}

.fade-out{
    animation: fade-out 0.5s forwards;
}

.rotation{
    animation: rotation 1s forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg); /* 360 × 3 voltas */
    }
  }

.display-hidden{
    display: none !important;
}

.display-show{
    display: flex !important;
}

